GOOGLE_API_KEY=YOUR_GEMINI_API_KEY
GOOGLE_EMBEDDING_MODEL='models/gemini-embedding-001'
GOOGLE_CHAT_MODEL='gemini-2.5-flash-lite'

DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/rag
PG_VECTOR_COLLECTION_NAME=document_collection
PDF_NAME=document.pdf
